siberia/markup/assets/template/article.jade
extends _layout

block content
    .container.mt--60
        .row.mb--16
            .col--22.shift--2
                a(href='#').label Портрет

        .title__h1 ТАНКОВЫЙ БИАТЛОН ГЕННАДИЯ ТЕРЯЕВА 

        .row
            .col--15.shift--2
                .article
                    p Танковый биатлон развивается в России семимильными шагами. Позади три чемпионата мира, и с каждым годом стран-участников становится больше. Если на пер- вом чемпионате, состоявшемся в 2013 году, соревновались четыре команды (Россия, Казахстан, Бело- руссия, Армения), то в 2015-м их было уже 13. А проходят чемпиона- ты в рамках Армейских международных игр. 

                    p Яркое зрелище ежегодно со- бирает на трибунах тысячи бо- лельщиков. Россия в последние несколько лет доказала, что может организовать любое событие на высшем уровне. Достаточно вспомнить Евровидение, Олимпиаду в Сочи, Универсиаду. К числу таких событий, безусловно, можно отнести  и чемпионаты по танково- му биатлону. 

                    p Экипаж уроженца Чунского района Геннадия Теряева стал сильнейшим на чемпионате 2014 года. В 2015 году наш земляк снова оказался в команде победителей: российский экипаж показал луч- шее время и стопроцентное огне- вое поражение. 

                    p Карьера военного началась у Геннадия с учебки в Забайкалье, где он получил военную специаль- ность «наводчик-оператор». Не первый год он служит по контракту в различных республиках Север- ного Кавказа (Дагестан, Осетия, Чечня). 

                    img(src='./img/content/material-item--1.png')

                    p Танковый биатлон развивается в России семимильными шагами. Позади три Одержав две победы на чем- пионатах мира по танковому би- атлону, Геннадий Теряев стал настоящей звездой. В интервью телеканалу ТВЦ  он сказал, что служить в танковых войсках одно удовольствие, а по-настоящему интересно исполнять свой воин- ский долг становится только тогда, когда подписываешь контракт: 

                    h2 В УСТЬ-КУТСКОМ РАЙОНЕ АРЕНДАТОРЫ ВАЖНЕЕ ЖИТЕЛЕЙ?
                    
                    p – Контрактная служба – это товарищество. Здесь есть люди старше меня  по возрасту, но мы как одна семья: общаемся, живем фактически вместе уже более пяти лет. А на «срочке» не так – пришел- ушел и все. 

                    p Мы связались с Геннадием по телефону. Плотный график служ- бы  не позволил нам как следует поговорить с чемпионом. Отметим лишь, что настроение у него хоро- шее. Геннадий поздравил земля- ков с предстоящим праздником 23 февраля, пожелал им здоровья и благополучия, подчеркнул важную роль танкового биатлона в повы- шении престижа российской армии и развитии военно-промышленного комплекса страны. Не исключено, что  в этом году он со своими дру- зьями по экипажу вновь испытает удачу на чемпионате мира. 

                .meta.mb--60
                    .color--gray.mb--4 Автор: <strong class="bold">Борис МИХАЙЛОВ </strong>
                    .color--gray Источник: <strong class="bold">http://yandex.ru/</strong>

        .title__h3 ЧИТАЙТЕ ТАКЖЕ
        -
            materials = [
                        {img: "./img/content/material-1.png", title: "Танковый биатлон Геннадия Теряева", cat: "ПОРТРЕТ"}, 
                        {img: "./img/content/material-2.png", title: "Откуда дровишки?", cat: "Острый вопрос"}, 
                        {img: "./img/content/material-3.png", title: "Как правильно рассчитать квитанцию на оплату ЖКХ", cat: "Закон"}]
        
        .carousel.mb--60
            .carousel__inner
                for i in [1,2,3]
                    .row
                        for i in materials
                            a(href='#').material-block__list-item
                                .material-block__list-item-cat= i.cat
                                .material-block__list-item-lead= i.title
                                .material-block__list-item-img
                                    img(src=i.img)

siberia/static/article.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="./css/screen.css" type="text/css" rel="stylesheet">
    <title>Сибирский характер</title>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="header__logo"> <a href="#" class="header__logo-link"><span class="header__logo-link-siberia">«СИБИРСКИЙ</span> ХАРАКТЕР» </a></div>
        <div class="header__search">
          <input type="search" placeholder="Поиск по сайту" class="header__search-input">
          <div class="header__search-icon"></div>
        </div>
        <div class="header__menu">
          <div class="header__menu-item"><a href="#" class="header__menu-item-link">Новости</a></div>
          <div class="header__menu-item"><a href="#" class="header__menu-item-link">Газета</a></div>
          <div class="header__menu-item header__menu-item--active"><a href="#" class="header__menu-item-link">Благотворительный фонд</a>
            <div class="header__menu-subitems"><a href="#" class="header__menu-subitems-item">История фонда</a><a href="#" class="header__menu-subitems-item">Проекты</a><a href="#" class="header__menu-subitems-item">Текущая деятельность</a><a href="#" class="header__menu-subitems-item">Архив проектов</a><a href="#" class="header__menu-subitems-item">Основатель фонда</a>
            </div>
          </div>
          <div class="header__menu-item"><a href="#" class="header__menu-item-link">Судьбы</a></div>
          <div class="header__menu-item"><a href="#" class="header__menu-item-link">Друзья</a></div>
          <div class="header__menu-item"><a href="#" class="header__menu-item-link">Контакты</a></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="content">
      <div class="container mt--60">
        <div class="row mb--16">
          <div class="col--22 shift--2"><a href="#" class="label">Портрет</a></div>
        </div>
        <div class="title__h1">ТАНКОВЫЙ БИАТЛОН ГЕННАДИЯ ТЕРЯЕВА </div>
        <div class="row">
          <div class="col--15 shift--2">
            <div class="article">
              <p>Танковый биатлон развивается в России семимильными шагами. Позади три чемпионата мира, и с каждым годом стран-участников становится больше. Если на пер- вом чемпионате, состоявшемся в 2013 году, соревновались четыре команды (Россия, Казахстан, Бело- руссия, Армения), то в 2015-м их было уже 13. А проходят чемпиона- ты в рамках Армейских международных игр. </p>
              <p>Яркое зрелище ежегодно со- бирает на трибунах тысячи бо- лельщиков. Россия в последние несколько лет доказала, что может организовать любое событие на высшем уровне. Достаточно вспомнить Евровидение, Олимпиаду в Сочи, Универсиаду. К числу таких событий, безусловно, можно отнести  и чемпионаты по танково- му биатлону. </p>
              <p>Экипаж уроженца Чунского района Геннадия Теряева стал сильнейшим на чемпионате 2014 года. В 2015 году наш земляк снова оказался в команде победителей: российский экипаж показал луч- шее время и стопроцентное огне- вое поражение. </p>
              <p>Карьера военного началась у Геннадия с учебки в Забайкалье, где он получил военную специаль- ность «наводчик-оператор». Не первый год он служит по контракту в различных республиках Север- ного Кавказа (Дагестан, Осетия, Чечня). </p><img src="./img/content/material-item--1.png">
              <p>Танковый биатлон развивается в России семимильными шагами. Позади три Одержав две победы на чем- пионатах мира по танковому би- атлону, Геннадий Теряев стал настоящей звездой. В интервью телеканалу ТВЦ  он сказал, что служить в танковых войсках одно удовольствие, а по-настоящему интересно исполнять свой воин- ский долг становится только тогда, когда подписываешь контракт: </p>
              <h2>В УСТЬ-КУТСКОМ РАЙОНЕ АРЕНДАТОРЫ ВАЖНЕЕ ЖИТЕЛЕЙ?</h2>
              <p>– Контрактная служба – это товарищество. Здесь есть люди старше меня  по возрасту, но мы как одна семья: общаемся, живем фактически вместе уже более пяти лет. А на «срочке» не так – пришел- ушел и все. </p>
              <p>Мы связались с Геннадием по телефону. Плотный график служ- бы  не позволил нам как следует поговорить с чемпионом. Отметим лишь, что настроение у него хоро- шее. Геннадий поздравил земля- ков с предстоящим праздником 23 февраля, пожелал им здоровья и благополучия, подчеркнул важную роль танкового биатлона в повы- шении престижа российской армии и развитии военно-промышленного комплекса страны. Не исключено, что  в этом году он со своими дру- зьями по экипажу вновь испытает удачу на чемпионате мира. </p>
            </div>
            <div class="meta mb--60">
              <div class="color--gray mb--4">Автор: <strong class="bold">Борис МИХАЙЛОВ </strong></div>
              <div class="color--gray">Источник: <strong class="bold">http://yandex.ru/</strong></div>
            </div>
          </div>
        </div>
        <div class="title__h3">ЧИТАЙТЕ ТАКЖЕ</div>
        <div class="carousel mb--60">
          <div class="carousel__inner">
            <div class="row"><a href="#" class="material-block__list-item">
                <div class="material-block__list-item-cat">ПОРТРЕТ</div>
                <div class="material-block__list-item-lead">Танковый биатлон Геннадия Теряева</div>
                <div class="material-block__list-item-img"><img src="./img/content/material-1.png"></div></a><a href="#" class="material-block__list-item">
                <div class="material-block__list-item-cat">Острый вопрос</div>
                <div class="material-block__list-item-lead">Откуда дровишки?</div>
                <div class="material-block__list-item-img"><img src="./img/content/material-2.png"></div></a><a href="#" class="material-block__list-item">
                <div class="material-block__list-item-cat">Закон</div>
                <div class="material-block__list-item-lead">Как правильно рассчитать квитанцию на оплату ЖКХ</div>
                <div class="material-block__list-item-img"><img src="./img/content/material-3.png"></div></a>
            </div>
            <div class="row"><a href="#" class="material-block__list-item">
                <div class="material-block__list-item-cat">ПОРТРЕТ</div>
                <div class="material-block__list-item-lead">Танковый биатлон Геннадия Теряева</div>
                <div class="material-block__list-item-img"><img src="./img/content/material-1.png"></div></a><a href="#" class="material-block__list-item">
                <div class="material-block__list-item-cat">Острый вопрос</div>
                <div class="material-block__list-item-lead">Откуда дровишки?</div>
                <div class="material-block__list-item-img"><img src="./img/content/material-2.png"></div></a><a href="#" class="material-block__list-item">
                <div class="material-block__list-item-cat">Закон</div>
                <div class="material-block__list-item-lead">Как правильно рассчитать квитанцию на оплату ЖКХ</div>
                <div class="material-block__list-item-img"><img src="./img/content/material-3.png"></div></a>
            </div>
            <div class="row"><a href="#" class="material-block__list-item">
                <div class="material-block__list-item-cat">ПОРТРЕТ</div>
                <div class="material-block__list-item-lead">Танковый биатлон Геннадия Теряева</div>
                <div class="material-block__list-item-img"><img src="./img/content/material-1.png"></div></a><a href="#" class="material-block__list-item">
                <div class="material-block__list-item-cat">Острый вопрос</div>
                <div class="material-block__list-item-lead">Откуда дровишки?</div>
                <div class="material-block__list-item-img"><img src="./img/content/material-2.png"></div></a><a href="#" class="material-block__list-item">
                <div class="material-block__list-item-cat">Закон</div>
                <div class="material-block__list-item-lead">Как правильно рассчитать квитанцию на оплату ЖКХ</div>
                <div class="material-block__list-item-img"><img src="./img/content/material-3.png"></div></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col--12">
            <div class="footer__fund"> 
              <div class="footer__fund-title">БЛАГОТВОРИТЕЛЬНЫЙ ФОНД<br/>«НАШ СИБИРСКИЙ ХАРАКТЕР»</div>
              <div class="footer__fund-items"> <a href="#" class="footer__fund-items-item">Текущая деятельность</a><a href="#" class="footer__fund-items-item">Проекты</a><a href="#" class="footer__fund-items-item">История фонда</a></div>
            </div>
          </div>
          <div class="col--12"><a href="#" class="footer__founder">
              <div class="footer__founder-photo"><img src="./img/candidate-photo--2.png"></div>
              <div class="footer__founder-name">Андрей Владимирович Чернышёв</div>
              <div class="footer__founder-subtitle">Основатель фонда и газеты</div></a></div>
        </div>
      </div>
      <div class="footer__splitter"></div>
      <div class="container">
        <div class="row">
          <div class="col--11">
            <div class="footer__copyright">© 2016, Общественно-политическая газета<br>«Сибирский характер»</div>
            <div class="footer__organization">Учредитель: «Благотворительныий фонд «Сибирский характер».</div>
            <div class="footer__organization">Газета зарегистрирована Управлением федеральноий службы по надзору в сфере связи, информационных технологий и массовых коммуникаций по Иркут- ской области. Св-во о регистрации ПИ No ФС13-0243 от 15. 03. 2005 г. Главныий редактор С.М. Маслаков.</div>
          </div>
          <div class="col--1">&nbsp;</div>
          <div class="col--6">
            <div class="footer__menu">
              <div class="footer__menu-item"><a href="#" class="footer__menu-item-link">Новости</a></div>
              <div class="footer__menu-item"><a href="#" class="footer__menu-item-link">Газета</a></div>
              <div class="footer__menu-item"><a href="#" class="footer__menu-item-link">Благотворительный фонд</a></div>
              <div class="footer__menu-item"><a href="#" class="footer__menu-item-link">Судьбы</a></div>
              <div class="footer__menu-item"><a href="#" class="footer__menu-item-link">Партнеры</a></div>
              <div class="footer__menu-item"><a href="#" class="footer__menu-item-link">Контакты</a></div>
            </div>
          </div>
          <div class="col--6">
            <div class="footer__title">Контакты</div>
            <p class="fz--12 mb--8"><a href="zs11okrug@mail.ru">zs11okrug@mail.ru</a></p>
            <p class="fz--12">664025, г. Иркутск, ул. Степана Разина, 42, оф.1.</p><br>
            <div class="footer__title">Мы в соцсетях</div>
            <div class="social">
              <div class="social__items"><a href="#" class="social__item social__item--ok"></a><a href="#" class="social__item social__item--vk"></a><a href="#" class="social__item social__item--fb"></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/index.js"></script>
  </body>
</html>
