siberia/static/fund.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="./css/screen.css" type="text/css" rel="stylesheet">
    <title>Сибирский характер</title>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="header__logo"> <a href="#" class="header__logo-link"><span class="header__logo-link-siberia">«СИБИРСКИЙ</span> ХАРАКТЕР» </a></div>
        <div class="header__search">
          <input type="search" placeholder="Поиск по сайту" class="header__search-input">
          <div class="header__search-icon"></div>
        </div>
        <div class="header__menu">
          <div class="header__menu-item"><a href="#" class="header__menu-item-link">Новости</a></div>
          <div class="header__menu-item"><a href="#" class="header__menu-item-link">Газета</a></div>
          <div class="header__menu-item header__menu-item--active"><a href="#" class="header__menu-item-link">Благотворительный фонд</a>
            <div class="header__menu-subitems"><a href="#" class="header__menu-subitems-item">История фонда</a><a href="#" class="header__menu-subitems-item">Проекты</a><a href="#" class="header__menu-subitems-item">Текущая деятельность</a><a href="#" class="header__menu-subitems-item">Архив проектов</a><a href="#" class="header__menu-subitems-item">Основатель фонда</a>
            </div>
          </div>
          <div class="header__menu-item"><a href="#" class="header__menu-item-link">Судьбы</a></div>
          <div class="header__menu-item"><a href="#" class="header__menu-item-link">Друзья</a></div>
          <div class="header__menu-item"><a href="#" class="header__menu-item-link">Контакты</a></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="content">
      <div class="container mt--60">
        <div class="title__h1">БЛАГОТВОРИТЕЛЬНЫЙ ФОНД «СИБИРСКИЙ ХАРАКТЕР»</div>
        <div class="row mb--20">
          <div class="col--15 shift--2">
            <div class="article">
              <p>В августе 2012 года на территории Октябрьского округа Иркутска официально начал свою работу фонд поддержки гражданских инициатив Андрея Чернышёва. Как говорит сам Андрей Владимирович: «Мы хотим поучаствовать в благотворительных акциях, которые связаны с инициативой людей, потому что в этом деле необходимо двустороннее движение».</p>
              <p> <a href="#">История фонда</a></p>
            </div>
          </div>
        </div>
        <div class="title__h3">БЛАГОТВОРИТЕЛЬНЫЕ ГРАНТЫ</div>
        <div class="fund-block__grants"><a href="#" class="fund-block__grants-item">
            <div class="fund-block__grants-item-inner">
              <div class="fund-block__grants-item-title">Поддержка ветеранов</div>
              <div class="fund-block__grants-item-img"><img src="./img/grant--1.png"></div>
            </div></a><a href="#" class="fund-block__grants-item">
            <div class="fund-block__grants-item-inner">
              <div class="fund-block__grants-item-title">Сохранение наследия</div>
              <div class="fund-block__grants-item-img"><img src="./img/grant--2.png"></div>
            </div></a><a href="#" class="fund-block__grants-item">
            <div class="fund-block__grants-item-inner">
              <div class="fund-block__grants-item-title">Именные стипендии</div>
              <div class="fund-block__grants-item-img"><img src="./img/grant--3.png"></div>
            </div></a></div>
        <div class="title__h3">Текущая деятельность фонда</div>
        <div class="carousel mb--60">
          <div class="carousel__inner">
            <div class="row">
              <div class="col--8"><a href="#" class="news-block__item">
                  <div class="news-block__item-img"><img src="./img/content/news-1.png"></div>
                  <div class="news-block__date">9 апреля, в 14:42</div>
                  <div class="news-block__lead">С 4-го по 8 марта  в Братске и Братском районе будут выявлять нетрезвых водителей</div></a></div>
              <div class="col--8"><a href="#" class="news-block__item">
                  <div class="news-block__item-img"><img src="./img/content/news-2.png"></div>
                  <div class="news-block__date">9 апреля, в 14:42</div>
                  <div class="news-block__lead">В Братске появится новый автобусный маршрут</div></a></div>
              <div class="col--8"><a href="#" class="news-block__item">
                  <div class="news-block__item-img"><img src="./img/content/news-3.png"></div>
                  <div class="news-block__date">9 апреля, в 14:42</div>
                  <div class="news-block__lead">Жители Братска  и Братского района снова перевели мошенникам  20 тысяч рублей</div></a></div>
            </div>
            <div class="row">
              <div class="col--8"><a href="#" class="news-block__item">
                  <div class="news-block__item-img"><img src="./img/content/news-1.png"></div>
                  <div class="news-block__date">9 апреля, в 14:42</div>
                  <div class="news-block__lead">С 4-го по 8 марта  в Братске и Братском районе будут выявлять нетрезвых водителей</div></a></div>
              <div class="col--8"><a href="#" class="news-block__item">
                  <div class="news-block__item-img"><img src="./img/content/news-2.png"></div>
                  <div class="news-block__date">9 апреля, в 14:42</div>
                  <div class="news-block__lead">В Братске появится новый автобусный маршрут</div></a></div>
              <div class="col--8"><a href="#" class="news-block__item">
                  <div class="news-block__item-img"><img src="./img/content/news-3.png"></div>
                  <div class="news-block__date">9 апреля, в 14:42</div>
                  <div class="news-block__lead">Жители Братска  и Братского района снова перевели мошенникам  20 тысяч рублей</div></a></div>
            </div>
            <div class="row">
              <div class="col--8"><a href="#" class="news-block__item">
                  <div class="news-block__item-img"><img src="./img/content/news-1.png"></div>
                  <div class="news-block__date">9 апреля, в 14:42</div>
                  <div class="news-block__lead">С 4-го по 8 марта  в Братске и Братском районе будут выявлять нетрезвых водителей</div></a></div>
              <div class="col--8"><a href="#" class="news-block__item">
                  <div class="news-block__item-img"><img src="./img/content/news-2.png"></div>
                  <div class="news-block__date">9 апреля, в 14:42</div>
                  <div class="news-block__lead">В Братске появится новый автобусный маршрут</div></a></div>
              <div class="col--8"><a href="#" class="news-block__item">
                  <div class="news-block__item-img"><img src="./img/content/news-3.png"></div>
                  <div class="news-block__date">9 апреля, в 14:42</div>
                  <div class="news-block__lead">Жители Братска  и Братского района снова перевели мошенникам  20 тысяч рублей</div></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col--12">
            <div class="footer__fund"> 
              <div class="footer__fund-title">БЛАГОТВОРИТЕЛЬНЫЙ ФОНД<br/>«НАШ СИБИРСКИЙ ХАРАКТЕР»</div>
              <div class="footer__fund-items"> <a href="#" class="footer__fund-items-item">Текущая деятельность</a><a href="#" class="footer__fund-items-item">Проекты</a><a href="#" class="footer__fund-items-item">История фонда</a></div>
            </div>
          </div>
          <div class="col--12"><a href="#" class="footer__founder">
              <div class="footer__founder-photo"><img src="./img/candidate-photo--2.png"></div>
              <div class="footer__founder-name">Андрей Владимирович Чернышёв</div>
              <div class="footer__founder-subtitle">Основатель фонда и газеты</div></a></div>
        </div>
      </div>
      <div class="footer__splitter"></div>
      <div class="container">
        <div class="row">
          <div class="col--11">
            <div class="footer__copyright">© 2016, Общественно-политическая газета<br>«Сибирский характер»</div>
            <div class="footer__organization">Учредитель: «Благотворительныий фонд «Сибирский характер».</div>
            <div class="footer__organization">Газета зарегистрирована Управлением федеральноий службы по надзору в сфере связи, информационных технологий и массовых коммуникаций по Иркут- ской области. Св-во о регистрации ПИ No ФС13-0243 от 15. 03. 2005 г. Главныий редактор С.М. Маслаков.</div>
          </div>
          <div class="col--1">&nbsp;</div>
          <div class="col--6">
            <div class="footer__menu">
              <div class="footer__menu-item"><a href="#" class="footer__menu-item-link">Новости</a></div>
              <div class="footer__menu-item"><a href="#" class="footer__menu-item-link">Газета</a></div>
              <div class="footer__menu-item"><a href="#" class="footer__menu-item-link">Благотворительный фонд</a></div>
              <div class="footer__menu-item"><a href="#" class="footer__menu-item-link">Судьбы</a></div>
              <div class="footer__menu-item"><a href="#" class="footer__menu-item-link">Партнеры</a></div>
              <div class="footer__menu-item"><a href="#" class="footer__menu-item-link">Контакты</a></div>
            </div>
          </div>
          <div class="col--6">
            <div class="footer__title">Контакты</div>
            <p class="fz--12 mb--8"><a href="zs11okrug@mail.ru">zs11okrug@mail.ru</a></p>
            <p class="fz--12">664025, г. Иркутск, ул. Степана Разина, 42, оф.1.</p><br>
            <div class="footer__title">Мы в соцсетях</div>
            <div class="social">
              <div class="social__items"><a href="#" class="social__item social__item--ok"></a><a href="#" class="social__item social__item--vk"></a><a href="#" class="social__item social__item--fb"></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/index.js"></script>
  </body>
</html>

siberia/markup/assets/template/fund.jade
extends _layout

block content
    .container.mt--60
        .title__h1 БЛАГОТВОРИТЕЛЬНЫЙ ФОНД «СИБИРСКИЙ ХАРАКТЕР»

        .row.mb--20
            .col--15.shift--2
                .article
                    p В августе 2012 года на территории Октябрьского округа Иркутска официально начал свою работу фонд поддержки гражданских инициатив Андрея Чернышёва. Как говорит сам Андрей Владимирович: «Мы хотим поучаствовать в благотворительных акциях, которые связаны с инициативой людей, потому что в этом деле необходимо двустороннее движение».
                    p 
                        a(href='#') История фонда

        
        .title__h3 БЛАГОТВОРИТЕЛЬНЫЕ ГРАНТЫ
        .fund-block__grants
            a(href="#").fund-block__grants-item
                .fund-block__grants-item-inner
                    .fund-block__grants-item-title Поддержка ветеранов
                    .fund-block__grants-item-img
                        img(src='./img/grant--1.png')

            a(href="#").fund-block__grants-item
                .fund-block__grants-item-inner
                    .fund-block__grants-item-title Сохранение наследия
                    .fund-block__grants-item-img
                        img(src='./img/grant--2.png')

            a(href="#").fund-block__grants-item
                .fund-block__grants-item-inner
                    .fund-block__grants-item-title Именные стипендии
                    .fund-block__grants-item-img
                        img(src='./img/grant--3.png')


        .title__h3 Текущая деятельность фонда
        .carousel.mb--60
            .carousel__inner
                for i in [0,1,2]
                    .row
                        .col--8
                            a(href='#').news-block__item
                                .news-block__item-img
                                    img(src='./img/content/news-1.png')
                                .news-block__date 9 апреля, в 14:42
                                .news-block__lead С 4-го по 8 марта  в Братске и Братском районе будут выявлять нетрезвых водителей

                        .col--8
                            a(href='#').news-block__item
                                .news-block__item-img
                                    img(src='./img/content/news-2.png')
                                .news-block__date 9 апреля, в 14:42
                                .news-block__lead В Братске появится новый автобусный маршрут
                        .col--8
                            a(href='#').news-block__item
                                .news-block__item-img
                                    img(src='./img/content/news-3.png')
                                .news-block__date 9 апреля, в 14:42
                                .news-block__lead Жители Братска  и Братского района снова перевели мошенникам  20 тысяч рублей
