siberia/markup/assets/template/index.jade
extends _layout

block content
    .indexlogo
        .container
            .row
                .col--18
                    .indexlogo__logo
                        .indexlogo__title <span class="indexlogo__title-siberia">«СИБИРСКИЙ</span> ХАРАКТЕР» 
                        .indexlogo__subtitle Благотворительный фонд Андрея Чернышёва

                .col--6
                    .indexlogo__social
                        .social
                            .social__title Мы в соцсетях:
                            .social__items
                                a(href='#').social__item.social__item--ok
                                a(href='#').social__item.social__item--vk
                                a(href='#').social__item.social__item--fb

                    .indexlogo__links
                        a(href='#').indexlogo__links-item Благотворительный фонд
                        a(href='#').indexlogo__links-item Контакты


    .news-block
        .container
            .title__h2.pull--left НОВОСТИ
            .selectbox.news-block__selectbox
                select.selectbox__input
                    option(value='', selected) Киренский и Катангский

            .clearfix

            .row
                .col--10
                    a(href="#").news-block__item.news-block__item--big
                        .news-block__item-img
                            img(src='./img/content/news-main.png')
                        .news-block__date 12 апреля, в 14:27
                        .news-block__lead Управляющая компания «ПКК» направит около 30 миллионов рублей на текущий ремонт
                .col--1 &nbsp;
                .col--12
                    .news-block__list
                        -
                            news = [{date: "14:27", title: "Управляющая компания «ПКК» направит около 30 миллионов рублей на текущий ремонт"}, 
                                    {date: "11:27", title: "<span class='news-block__list-item--mark'>ФОНД</span> Братчане в этом месяце получат «платёжки» от Фонда капремонта", bold: true}, 
                                    {date: "12 апреля, в&nbsp;14:27", title: "Виновнице смертельного ДТП, дочери иркутского депутата Юлии Киселевой ужесточили наказание"}, 
                                    {date: "11 апреля, в&nbsp;14:27", title: "В Братске на автостанции ограничат движение личного транспорта, установив шлагбаум"}, 
                                    {date: "10 апреля, в&nbsp;14:27", title: "18-летнего братчанина, обокравшего свою мать, приговорили к 2 годам лишения свободы условно"},
                                    {date: "11 апреля, в&nbsp;14:27", title: "В Братске на автостанции ограничат движение личного транспорта, установив шлагбаум"}]

                        for i in news
                            .news-block__list-item
                                .news-block__list-item-date.news-block__date!= i.date
                                a.news-block__list-item-content(href="#", class=i.bold ? 'news-block__list-item-content--bold' : '')!= i.title
            
            .row
                .col--8
                    a(href='#').news-block__item.news-block__item--noimage
                        .label.news-block__item-label ФОНД
                        .news-block__date 9 апреля, в 14:42
                        .news-block__lead С 4-го по 8 марта  в Братске и Братском районе будут выявлять нетрезвых водителей

                .col--8
                    a(href='#').news-block__item
                        .label.news-block__item-label ФОНД
                        .news-block__item-img
                            img(src='./img/content/news-2.png')
                        .news-block__date 9 апреля, в 14:42
                        .news-block__lead В Братске появится новый автобусный маршрут
                .col--8
                    a(href='#').news-block__item
                        .label.news-block__item-label ФОНД
                        .news-block__item-img
                            img(src='./img/content/news-3.png')
                        .news-block__date 9 апреля, в 14:42
                        .news-block__lead Жители Братска  и Братского района снова перевели мошенникам  20 тысяч рублей

    .material-block
        .container
            .title__h2.title--white ГАЗЕТА «СИБИРСКИЙ ХАРАКТЕР»
            -
                materials = [
                            {img: "./img/content/material-1.png", title: "Танковый биатлон Геннадия Теряева", cat: "ПОРТРЕТ"}, 
                            {img: "./img/content/material-2.png", title: "Откуда дровишки?", cat: "Острый вопрос"}, 
                            {img: "./img/content/material-3.png", title: "Как правильно рассчитать квитанцию на оплату ЖКХ", cat: "Закон"}, 
                            {img: "./img/content/material-4.png", title: "Люди из проруби", cat: "Спорт"}, 
                            {img: "./img/content/material-5.png", title: "Автопарк от депутата", cat: "Отчет"}, 
                            {img: "./img/content/material-6.png", title: "Падение в космос. Братские встречи Бориса Волынова", cat: "Портрет"}]

            .material-block__list
                .row
                    a(href='#').material-block__list-item.material-block__list-item--fund
                        .material-block__list-item-cat Благотворительность
                        .material-block__list-item-logo
                            img(src='./img/fund-logo--2.png')

                        .material-block__list-item-title Благотворительный<br>фонд 
                        .material-block__list-item-mega «СИБИРСКИЙ ХАРАКТЕР»

                    for i in materials.slice(0, 2)
                        a(href='#').material-block__list-item
                            .material-block__list-item-cat= i.cat
                            .material-block__list-item-lead= i.title
                            .material-block__list-item-img
                                img(src=i.img)
                .row
                    for i in materials.slice(2, 5)
                        a(href='#').material-block__list-item
                            .material-block__list-item-cat= i.cat
                            .material-block__list-item-lead= i.title
                            .material-block__list-item-img
                                img(src=i.img)

                .row
                    for i in materials.slice(5)
                        a(href='#').material-block__list-item
                            .material-block__list-item-cat= i.cat
                            .material-block__list-item-lead= i.title
                            .material-block__list-item-img
                                img(src=i.img)

                    a(href='#').material-block__list-item.material-block__list-item--candidate
                        .material-block__list-item-inner
                            .material-block__list-item-img
                                img(src='./img/candidate-photo--1.png')
                            .material-block__list-item-title Андрей Владимирович Чернышёв
                            .material-block__list-item-subtitle Основатель фонда и газеты
                            .material-block__list-item-quote Для всех нас слово «патриотизм» имеет глубокий смысл. Наши предки на протяжении всей многовековой истории страны всегда были патри- отами. Это и есть то, что называется русскии характер, сибирскиий характер. 


    .destiny-block
        .container
            .carousel.destiny-block__carousel
                a(href='#').destiny-block__arrow
                .carousel__inner
                    for i in [1,2,3]
                        .destiny-block__item
                            .row
                                .col--7.shift--1
                                    .destiny-block__item-left
                                        .title__h2 Судьбы
                                .col--8
                                    a(href='#').destiny-block__item-img
                                        img(src='./img/content/destiny-1.png')
                                .col--8
                                    .destiny-block__item-right
                                        a(href='#')
                                            .title__h4 Сергей Владимирович Масляков
                                        p Ветеран ВОВ, вечетеран труда

    .fund-block
        .container
            .row
                .col--4
                    img(src="./img/fund-logo--1.png")
                .col--20
                    .title__h2.title--white БЛАГОТВОРИТЕЛЬНЫЙ<br> ФОНД<br> «СИБИРСКИЙ ХАРАКТЕР» 
            br
            .title__h3.title--opacity.title--white БЛАГОТВОРИТЕЛЬНЫЕ ГРАНТЫ
            .fund-block__grants
                a(href="#").fund-block__grants-item
                    .fund-block__grants-item-inner
                        .fund-block__grants-item-title Поддержка ветеранов
                        .fund-block__grants-item-img
                            img(src='./img/grant--1.png')

                a(href="#").fund-block__grants-item
                    .fund-block__grants-item-inner
                        .fund-block__grants-item-title Сохранение наследия
                        .fund-block__grants-item-img
                            img(src='./img/grant--2.png')

                a(href="#").fund-block__grants-item
                    .fund-block__grants-item-inner
                        .fund-block__grants-item-title Именные стипендии
                        .fund-block__grants-item-img
                            img(src='./img/grant--3.png')

            .title__h3.title--opacity.title--white Текущая деятельность фонда

            .carousel
                .carousel__inner
                    for i in [1,2,3]
                        .row
                            .col--8
                                a(href='#').news-block__item.news-block__item--white
                                    .news-block__item-img
                                        img(src='./img/content/news-1.png')
                                    .news-block__date 9 апреля, в 14:42
                                    .news-block__lead С 4-го по 8 марта  в Братске и Братском районе будут выявлять нетрезвых водителей

                            .col--8
                                a(href='#').news-block__item.news-block__item--white
                                    .news-block__item-img
                                        img(src='./img/content/news-2.png')
                                    .news-block__date 9 апреля, в 14:42
                                    .news-block__lead В Братске появится новый автобусный маршрут
                            .col--8
                                a(href='#').news-block__item.news-block__item--white
                                    .news-block__item-img
                                        img(src='./img/content/news-3.png')
                                    .news-block__date 9 апреля, в 14:42
                                    .news-block__lead Жители Братска  и Братского района снова перевели мошенникам  20 тысяч рублей

siberia/static/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="./css/screen.css" type="text/css" rel="stylesheet">
    <title>Сибирский характер</title>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="header__logo"> <a href="#" class="header__logo-link"><span class="header__logo-link-siberia">«СИБИРСКИЙ</span> ХАРАКТЕР» </a></div>
        <div class="header__search">
          <input type="search" placeholder="Поиск по сайту" class="header__search-input">
          <div class="header__search-icon"></div>
        </div>
        <div class="header__menu">
          <div class="header__menu-item"><a href="#" class="header__menu-item-link">Новости</a></div>
          <div class="header__menu-item"><a href="#" class="header__menu-item-link">Газета</a></div>
          <div class="header__menu-item header__menu-item--active"><a href="#" class="header__menu-item-link">Благотворительный фонд</a>
            <div class="header__menu-subitems"><a href="#" class="header__menu-subitems-item">История фонда</a><a href="#" class="header__menu-subitems-item">Проекты</a><a href="#" class="header__menu-subitems-item">Текущая деятельность</a><a href="#" class="header__menu-subitems-item">Архив проектов</a><a href="#" class="header__menu-subitems-item">Основатель фонда</a>
            </div>
          </div>
          <div class="header__menu-item"><a href="#" class="header__menu-item-link">Судьбы</a></div>
          <div class="header__menu-item"><a href="#" class="header__menu-item-link">Друзья</a></div>
          <div class="header__menu-item"><a href="#" class="header__menu-item-link">Контакты</a></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="content">
      <div class="indexlogo">
        <div class="container">
          <div class="row">
            <div class="col--18">
              <div class="indexlogo__logo">
                <div class="indexlogo__title"><span class="indexlogo__title-siberia">«СИБИРСКИЙ</span> ХАРАКТЕР» </div>
                <div class="indexlogo__subtitle">Благотворительный фонд Андрея Чернышёва</div>
              </div>
            </div>
            <div class="col--6">
              <div class="indexlogo__social">
                <div class="social">
                  <div class="social__title">Мы в соцсетях:</div>
                  <div class="social__items"><a href="#" class="social__item social__item--ok"></a><a href="#" class="social__item social__item--vk"></a><a href="#" class="social__item social__item--fb"></a></div>
                </div>
              </div>
              <div class="indexlogo__links"><a href="#" class="indexlogo__links-item">Благотворительный фонд</a><a href="#" class="indexlogo__links-item">Контакты</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="news-block">
        <div class="container">
          <div class="title__h2 pull--left">НОВОСТИ</div>
          <div class="selectbox news-block__selectbox">
            <select class="selectbox__input">
              <option value="" selected>Киренский и Катангский</option>
            </select>
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <div class="col--10"><a href="#" class="news-block__item news-block__item--big">
                <div class="news-block__item-img"><img src="./img/content/news-main.png"></div>
                <div class="news-block__date">12 апреля, в 14:27</div>
                <div class="news-block__lead">Управляющая компания «ПКК» направит около 30 миллионов рублей на текущий ремонт</div></a></div>
            <div class="col--1">&nbsp;</div>
            <div class="col--12">
              <div class="news-block__list">
                <div class="news-block__list-item">
                  <div class="news-block__list-item-date news-block__date">14:27</div><a href="#" class="news-block__list-item-content">Управляющая компания «ПКК» направит около 30 миллионов рублей на текущий ремонт</a>
                </div>
                <div class="news-block__list-item">
                  <div class="news-block__list-item-date news-block__date">11:27</div><a href="#" class="news-block__list-item-content news-block__list-item-content--bold"><span class='news-block__list-item--mark'>ФОНД</span> Братчане в этом месяце получат «платёжки» от Фонда капремонта</a>
                </div>
                <div class="news-block__list-item">
                  <div class="news-block__list-item-date news-block__date">12 апреля, в&nbsp;14:27</div><a href="#" class="news-block__list-item-content">Виновнице смертельного ДТП, дочери иркутского депутата Юлии Киселевой ужесточили наказание</a>
                </div>
                <div class="news-block__list-item">
                  <div class="news-block__list-item-date news-block__date">11 апреля, в&nbsp;14:27</div><a href="#" class="news-block__list-item-content">В Братске на автостанции ограничат движение личного транспорта, установив шлагбаум</a>
                </div>
                <div class="news-block__list-item">
                  <div class="news-block__list-item-date news-block__date">10 апреля, в&nbsp;14:27</div><a href="#" class="news-block__list-item-content">18-летнего братчанина, обокравшего свою мать, приговорили к 2 годам лишения свободы условно</a>
                </div>
                <div class="news-block__list-item">
                  <div class="news-block__list-item-date news-block__date">11 апреля, в&nbsp;14:27</div><a href="#" class="news-block__list-item-content">В Братске на автостанции ограничат движение личного транспорта, установив шлагбаум</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col--8"><a href="#" class="news-block__item news-block__item--noimage">
                <div class="label news-block__item-label">ФОНД</div>
                <div class="news-block__date">9 апреля, в 14:42</div>
                <div class="news-block__lead">С 4-го по 8 марта  в Братске и Братском районе будут выявлять нетрезвых водителей</div></a></div>
            <div class="col--8"><a href="#" class="news-block__item">
                <div class="label news-block__item-label">ФОНД</div>
                <div class="news-block__item-img"><img src="./img/content/news-2.png"></div>
                <div class="news-block__date">9 апреля, в 14:42</div>
                <div class="news-block__lead">В Братске появится новый автобусный маршрут</div></a></div>
            <div class="col--8"><a href="#" class="news-block__item">
                <div class="label news-block__item-label">ФОНД</div>
                <div class="news-block__item-img"><img src="./img/content/news-3.png"></div>
                <div class="news-block__date">9 апреля, в 14:42</div>
                <div class="news-block__lead">Жители Братска  и Братского района снова перевели мошенникам  20 тысяч рублей</div></a></div>
          </div>
        </div>
      </div>
      <div class="material-block">
        <div class="container">
          <div class="title__h2 title--white">ГАЗЕТА «СИБИРСКИЙ ХАРАКТЕР»</div>
          <div class="material-block__list">
            <div class="row"><a href="#" class="material-block__list-item material-block__list-item--fund">
                <div class="material-block__list-item-cat">Благотворительность</div>
                <div class="material-block__list-item-logo"><img src="./img/fund-logo--2.png"></div>
                <div class="material-block__list-item-title">Благотворительный<br>фонд </div>
                <div class="material-block__list-item-mega">«СИБИРСКИЙ ХАРАКТЕР»</div></a><a href="#" class="material-block__list-item">
                <div class="material-block__list-item-cat">ПОРТРЕТ</div>
                <div class="material-block__list-item-lead">Танковый биатлон Геннадия Теряева</div>
                <div class="material-block__list-item-img"><img src="./img/content/material-1.png"></div></a><a href="#" class="material-block__list-item">
                <div class="material-block__list-item-cat">Острый вопрос</div>
                <div class="material-block__list-item-lead">Откуда дровишки?</div>
                <div class="material-block__list-item-img"><img src="./img/content/material-2.png"></div></a>
            </div>
            <div class="row"><a href="#" class="material-block__list-item">
                <div class="material-block__list-item-cat">Закон</div>
                <div class="material-block__list-item-lead">Как правильно рассчитать квитанцию на оплату ЖКХ</div>
                <div class="material-block__list-item-img"><img src="./img/content/material-3.png"></div></a><a href="#" class="material-block__list-item">
                <div class="material-block__list-item-cat">Спорт</div>
                <div class="material-block__list-item-lead">Люди из проруби</div>
                <div class="material-block__list-item-img"><img src="./img/content/material-4.png"></div></a><a href="#" class="material-block__list-item">
                <div class="material-block__list-item-cat">Отчет</div>
                <div class="material-block__list-item-lead">Автопарк от депутата</div>
                <div class="material-block__list-item-img"><img src="./img/content/material-5.png"></div></a>
            </div>
            <div class="row"><a href="#" class="material-block__list-item">
                <div class="material-block__list-item-cat">Портрет</div>
                <div class="material-block__list-item-lead">Падение в космос. Братские встречи Бориса Волынова</div>
                <div class="material-block__list-item-img"><img src="./img/content/material-6.png"></div></a><a href="#" class="material-block__list-item material-block__list-item--candidate">
                <div class="material-block__list-item-inner">
                  <div class="material-block__list-item-img"><img src="./img/candidate-photo--1.png"></div>
                  <div class="material-block__list-item-title">Андрей Владимирович Чернышёв</div>
                  <div class="material-block__list-item-subtitle">Основатель фонда и газеты</div>
                  <div class="material-block__list-item-quote">Для всех нас слово «патриотизм» имеет глубокий смысл. Наши предки на протяжении всей многовековой истории страны всегда были патри- отами. Это и есть то, что называется русскии характер, сибирскиий характер. </div>
                </div></a>
            </div>
          </div>
        </div>
      </div>
      <div class="destiny-block">
        <div class="container">
          <div class="carousel destiny-block__carousel"><a href="#" class="destiny-block__arrow"></a>
            <div class="carousel__inner">
              <div class="destiny-block__item">
                <div class="row">
                  <div class="col--7 shift--1">
                    <div class="destiny-block__item-left">
                      <div class="title__h2">Судьбы</div>
                    </div>
                  </div>
                  <div class="col--8"><a href="#" class="destiny-block__item-img"><img src="./img/content/destiny-1.png"></a></div>
                  <div class="col--8">
                    <div class="destiny-block__item-right"><a href="#">
                        <div class="title__h4">Сергей Владимирович Масляков</div></a>
                      <p>Ветеран ВОВ, вечетеран труда</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="destiny-block__item">
                <div class="row">
                  <div class="col--7 shift--1">
                    <div class="destiny-block__item-left">
                      <div class="title__h2">Судьбы</div>
                    </div>
                  </div>
                  <div class="col--8"><a href="#" class="destiny-block__item-img"><img src="./img/content/destiny-1.png"></a></div>
                  <div class="col--8">
                    <div class="destiny-block__item-right"><a href="#">
                        <div class="title__h4">Сергей Владимирович Масляков</div></a>
                      <p>Ветеран ВОВ, вечетеран труда</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="destiny-block__item">
                <div class="row">
                  <div class="col--7 shift--1">
                    <div class="destiny-block__item-left">
                      <div class="title__h2">Судьбы</div>
                    </div>
                  </div>
                  <div class="col--8"><a href="#" class="destiny-block__item-img"><img src="./img/content/destiny-1.png"></a></div>
                  <div class="col--8">
                    <div class="destiny-block__item-right"><a href="#">
                        <div class="title__h4">Сергей Владимирович Масляков</div></a>
                      <p>Ветеран ВОВ, вечетеран труда</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fund-block">
        <div class="container">
          <div class="row">
            <div class="col--4"><img src="./img/fund-logo--1.png"></div>
            <div class="col--20">
              <div class="title__h2 title--white">БЛАГОТВОРИТЕЛЬНЫЙ<br> ФОНД<br> «СИБИРСКИЙ ХАРАКТЕР» </div>
            </div>
          </div><br>
          <div class="title__h3 title--opacity title--white">БЛАГОТВОРИТЕЛЬНЫЕ ГРАНТЫ</div>
          <div class="fund-block__grants"><a href="#" class="fund-block__grants-item">
              <div class="fund-block__grants-item-inner">
                <div class="fund-block__grants-item-title">Поддержка ветеранов</div>
                <div class="fund-block__grants-item-img"><img src="./img/grant--1.png"></div>
              </div></a><a href="#" class="fund-block__grants-item">
              <div class="fund-block__grants-item-inner">
                <div class="fund-block__grants-item-title">Сохранение наследия</div>
                <div class="fund-block__grants-item-img"><img src="./img/grant--2.png"></div>
              </div></a><a href="#" class="fund-block__grants-item">
              <div class="fund-block__grants-item-inner">
                <div class="fund-block__grants-item-title">Именные стипендии</div>
                <div class="fund-block__grants-item-img"><img src="./img/grant--3.png"></div>
              </div></a></div>
          <div class="title__h3 title--opacity title--white">Текущая деятельность фонда</div>
          <div class="carousel">
            <div class="carousel__inner">
              <div class="row">
                <div class="col--8"><a href="#" class="news-block__item news-block__item--white">
                    <div class="news-block__item-img"><img src="./img/content/news-1.png"></div>
                    <div class="news-block__date">9 апреля, в 14:42</div>
                    <div class="news-block__lead">С 4-го по 8 марта  в Братске и Братском районе будут выявлять нетрезвых водителей</div></a></div>
                <div class="col--8"><a href="#" class="news-block__item news-block__item--white">
                    <div class="news-block__item-img"><img src="./img/content/news-2.png"></div>
                    <div class="news-block__date">9 апреля, в 14:42</div>
                    <div class="news-block__lead">В Братске появится новый автобусный маршрут</div></a></div>
                <div class="col--8"><a href="#" class="news-block__item news-block__item--white">
                    <div class="news-block__item-img"><img src="./img/content/news-3.png"></div>
                    <div class="news-block__date">9 апреля, в 14:42</div>
                    <div class="news-block__lead">Жители Братска  и Братского района снова перевели мошенникам  20 тысяч рублей</div></a></div>
              </div>
              <div class="row">
                <div class="col--8"><a href="#" class="news-block__item news-block__item--white">
                    <div class="news-block__item-img"><img src="./img/content/news-1.png"></div>
                    <div class="news-block__date">9 апреля, в 14:42</div>
                    <div class="news-block__lead">С 4-го по 8 марта  в Братске и Братском районе будут выявлять нетрезвых водителей</div></a></div>
                <div class="col--8"><a href="#" class="news-block__item news-block__item--white">
                    <div class="news-block__item-img"><img src="./img/content/news-2.png"></div>
                    <div class="news-block__date">9 апреля, в 14:42</div>
                    <div class="news-block__lead">В Братске появится новый автобусный маршрут</div></a></div>
                <div class="col--8"><a href="#" class="news-block__item news-block__item--white">
                    <div class="news-block__item-img"><img src="./img/content/news-3.png"></div>
                    <div class="news-block__date">9 апреля, в 14:42</div>
                    <div class="news-block__lead">Жители Братска  и Братского района снова перевели мошенникам  20 тысяч рублей</div></a></div>
              </div>
              <div class="row">
                <div class="col--8"><a href="#" class="news-block__item news-block__item--white">
                    <div class="news-block__item-img"><img src="./img/content/news-1.png"></div>
                    <div class="news-block__date">9 апреля, в 14:42</div>
                    <div class="news-block__lead">С 4-го по 8 марта  в Братске и Братском районе будут выявлять нетрезвых водителей</div></a></div>
                <div class="col--8"><a href="#" class="news-block__item news-block__item--white">
                    <div class="news-block__item-img"><img src="./img/content/news-2.png"></div>
                    <div class="news-block__date">9 апреля, в 14:42</div>
                    <div class="news-block__lead">В Братске появится новый автобусный маршрут</div></a></div>
                <div class="col--8"><a href="#" class="news-block__item news-block__item--white">
                    <div class="news-block__item-img"><img src="./img/content/news-3.png"></div>
                    <div class="news-block__date">9 апреля, в 14:42</div>
                    <div class="news-block__lead">Жители Братска  и Братского района снова перевели мошенникам  20 тысяч рублей</div></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col--12">
            <div class="footer__fund"> 
              <div class="footer__fund-title">БЛАГОТВОРИТЕЛЬНЫЙ ФОНД<br/>«НАШ СИБИРСКИЙ ХАРАКТЕР»</div>
              <div class="footer__fund-items"> <a href="#" class="footer__fund-items-item">Текущая деятельность</a><a href="#" class="footer__fund-items-item">Проекты</a><a href="#" class="footer__fund-items-item">История фонда</a></div>
            </div>
          </div>
          <div class="col--12"><a href="#" class="footer__founder">
              <div class="footer__founder-photo"><img src="./img/candidate-photo--2.png"></div>
              <div class="footer__founder-name">Андрей Владимирович Чернышёв</div>
              <div class="footer__founder-subtitle">Основатель фонда и газеты</div></a></div>
        </div>
      </div>
      <div class="footer__splitter"></div>
      <div class="container">
        <div class="row">
          <div class="col--11">
            <div class="footer__copyright">© 2016, Общественно-политическая газета<br>«Сибирский характер»</div>
            <div class="footer__organization">Учредитель: «Благотворительныий фонд «Сибирский характер».</div>
            <div class="footer__organization">Газета зарегистрирована Управлением федеральноий службы по надзору в сфере связи, информационных технологий и массовых коммуникаций по Иркут- ской области. Св-во о регистрации ПИ No ФС13-0243 от 15. 03. 2005 г. Главныий редактор С.М. Маслаков.</div>
          </div>
          <div class="col--1">&nbsp;</div>
          <div class="col--6">
            <div class="footer__menu">
              <div class="footer__menu-item"><a href="#" class="footer__menu-item-link">Новости</a></div>
              <div class="footer__menu-item"><a href="#" class="footer__menu-item-link">Газета</a></div>
              <div class="footer__menu-item"><a href="#" class="footer__menu-item-link">Благотворительный фонд</a></div>
              <div class="footer__menu-item"><a href="#" class="footer__menu-item-link">Судьбы</a></div>
              <div class="footer__menu-item"><a href="#" class="footer__menu-item-link">Партнеры</a></div>
              <div class="footer__menu-item"><a href="#" class="footer__menu-item-link">Контакты</a></div>
            </div>
          </div>
          <div class="col--6">
            <div class="footer__title">Контакты</div>
            <p class="fz--12 mb--8"><a href="zs11okrug@mail.ru">zs11okrug@mail.ru</a></p>
            <p class="fz--12">664025, г. Иркутск, ул. Степана Разина, 42, оф.1.</p><br>
            <div class="footer__title">Мы в соцсетях</div>
            <div class="social">
              <div class="social__items"><a href="#" class="social__item social__item--ok"></a><a href="#" class="social__item social__item--vk"></a><a href="#" class="social__item social__item--fb"></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/index.js"></script>
  </body>
</html>
