siberia/templates/pages/news.html
{% extends 'base.html' %}
{% load home_tags %}

{% block content %}
<div class="container mb--60">
	<div class="title__h1 pull--left">{{ self.title }}</div>
    <div class="pull--right mt--24">
      <label class="mr--16">Район:</label>
	  <div class="selectbox">
	    <select class="selectbox__input js-selectregion" name="region">
	    	{% if request.GET.region and request.GET.region != '0' %}
		      <option value="0">Все районы</option>
		    	{% for i in regions %}
		      <option value="{{ i.pk }}" {% if request.GET.region == i.pk|lower %}selected{% endif %}>{{ i.title }}</option>
		      {% endfor %}
	    	{% else %}
		      <option value="0" selected>Все регионы</option>
		    	{% for i in regions %}
		      <option value="{{ i.pk }}">{{ i.title }}</option>
		      {% endfor %}
	    	{% endif %}
	    </select>
	  </div>
  	</div>
    <div class="pull--right mt--24 mr--24">
      <label class="mr--16">Рубрики:</label>
	  <div class="selectbox selectbox--w200" >
	    <select class="selectbox__input js-selectrubric" name="rubric">
	    	{% if request.GET.rubric and request.GET.rubric != '0' %}
		      <option value="0">Все рубрики</option>
		    	{% for i in rubrics %}
		      <option value="{{ i.pk }}" {% if request.GET.rubric == i.pk|lower %}selected{% endif %}>{{ i.title }}</option>
		      {% endfor %}
	    	{% else %}
		      <option value="0" selected>Все рубрики</option>
		    	{% for i in rubrics %}
		      <option value="{{ i.pk }}">{{ i.title }}</option>
		      {% endfor %}
	    	{% endif %}
	    </select>
	  </div>
  	</div>
    <div class="clearfix"></div>

    {% if items|length > 0 %}
	    {% for line in items|grouper:4 %}
	  	<div class="row">
	      {% for i in line %}
	      	<div class="col--6 mb--32">
	      	{% if i %}
	        	{% include './blocks/news-block.html' with item=i request=request %}
	        {% endif %}
	    	</div>
	      {% endfor %}
	    </div>
	    {% endfor %}

	    {% include './blocks/paginator.html' with items=items %}
    {% else %}
	  <div class="title__h4">К сожалению, новостей не найдено.</div>
    {% endif %}
</div>
{% endblock %}

siberia/markup/assets/template/news.jade
extends _layout

block content
    .container.mt--60
        .title__h1.pull--left Новости

        .pull--right.mt--24
            label.mr--16 Район:
            .selectbox
                select.selectbox__input
                    option(value='', selected) Киренский и Катангский
        .clearfix


        .paging
            a(href='#').paging__item.paging__item--active 1
            a(href='#').paging__item 2
            a(href='#').paging__item 3
            a(href='#').paging__item 4
            a(href='#').paging__item →
