siberia/markup/assets/template/person.jade
extends _layout

block content
    .container
        .person.mb--40
            .row.mb--60
                .col--8
                    img(src="./img/candidate-photo--3.png").person__img
                
                .col--14
                    .person__quote Для всех нас слово «патриотизм» имеет глубокий смысл. Наши предки на протяжении всей многовековой истории страны всегда были патриотами. Это и есть то, что называется русский характер, сибирский характер. 

            .row
                .col--4
                    .social
                        .social__title В соцсетях:
                        .social__items
                            a(href='#').social__item.social__item--ok
                            a(href='#').social__item.social__item--vk
                            a(href='#').social__item.social__item--fb

                .col--17
                    .person__name.title__h1 АНДРЕЙ  ВЛАДИМИРОВИЧ ЧЕРНЫШЁВ
                    .person__post.color--gray Основатель благотворительного фонда «Сибирский характер»

                    .article
                        p Асимптота, согласно Ф.Котлеру, продуцирует действительный анализ зарубежного опыта. Размещение консолидирует PR. Наряду с этим, интегрирование по частям индуцирует институциональный product placement. График функции естественно специфицирует комплексный максимум. 

                        p Нормаль к поверхности, отбрасывая подробности, решительно определяет двойной интеграл. Рекламная заставка искажает экспериментальный product placement. Дело в том, что сущность и концепция маркетинговой программы однородно искажает медиаплан. Как предсказывают футурологи скачок функции решительно изменяет отрицательный математический анализ, таким образом сбылась мечта идиота - утверждение полностью доказано. 

                        p Ребрендинг обоснован необходимостью. Поэтому криволинейный интеграл однородно раскручивает двойной интеграл. Нормаль к поверхности откровенно цинична. Не доказано, что объемная скидка изящно поддерживает рыночный многочлен, в итоге приходим к логическому противоречию.

siberia/templates/pages/person.html
{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailsettings_tags %}

{% block content %}
<div class="container">
	<div class="person mb--40">
	  <div class="row mb--60">
	    <div class="col--8"><img src="{% static './img/candidate-photo--3.png' %}" class="person__img"></div>
	    <div class="col--14">
	      <div class="person__quote">{{self.quote}}</div>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col--4">
	      <!-- div class="social">
	        <div class="social__title">В соцсетях:</div>
	        <div class="social__items">
	        	<a href="{{ settings.home.SiteSettings.candidate_ok }}" class="social__item social__item--ok"></a>
	        	<a href="{{ settings.home.SiteSettings.candidate_vk }}" class="social__item social__item--vk"></a>
	        	<a href="{{ settings.home.SiteSettings.candidate_fb }}" class="social__item social__item--fb"></a>
	        </div>
	      </div-->&nbsp;
	    </div>
	    <div class="col--17">
	      <div class="person__name title__h1">АНДРЕЙ  ВЛАДИМИРОВИЧ ЧЕРНЫШЁВ</div>
	      <div class="person__post color--gray">Основатель благотворительного фонда «Сибирский характер»</div>
	      <div class="article">
	      	{{ self.content|richtext }}
	      </div>
	    </div>
	  </div>
	</div>
</div>
{% endblock %}
