siberia/markup/assets/template/story.jade
extends _layout

block content
    .destiny.mt--60
        .container
            .title__h1.title--margin-20.align--center Судьбы
            .row.mb--24
                .col--24
                    img(src='./img/content/destiny-item--1.png').destiny__img

                    a(href='#').destiny__prev ← Виктор Николаевич
                    a(href='#').destiny__next Гросс Андрей Иванович →
                    .destiny__actual.title__h3 ФУКАЛОВ ГЕННАДИЙ АЛЕКСАНДРОВИЧ

            .row
                .col--20.shift--2
                    .article
                        p Ну, что тебе рассказать... Отец мой был 1887 года рождения, и когда вернулся с Гражданской войны, женился на какой-то женщине. Но после родов она умерла, и отец остался вдовцом  с маленьким ребёнком на руках. Тогда отец женился на моей маме. Она была сирота, воспитывалась тётками, и когда ей исполнилось 20 лет, её выдали замуж. Первым родился  я и за мной ещё пятеро.

                        p Семья у нас крестьянская, и когда в 1929-м году началась коллективизация, отца решили назначить бригадиром в колхозе. Как-то он рассказывал: «Прихожу на работу, а один не пришёл, мол, не могу. Другой тоже не может, третий якобы заболел. Хорошая погода стоит, работать надо, а людей нет… Да ещё всех лошадей забрали на конный двор, коров на ферму. Я посмотрел на всё это и подумал - нет, я здесь со своими пацанами погибну…» Тогда отец устроился на железную дорогу, и 27 лет там отработал. Прожил 71 год и умер. Как сказала мама: «Напрочь износился…» А мама прожила 90 лет, а я и того больше. Никогда бы не подумал, что столько проживу…

        .form
            .container
                .title__h3.align--center РАССКАЗАТЬ СВОЮ ИСТОРИЮ
                .article.align--center.italic
                    p Люди, которые возводили заводы и города в глухой тайге, приезжали по комсомольским путевкам на строительство БАМа, все те, кто прошел палатки и бараки, оставив нам благоустроенные города и поселки – они не должны быть забыты. Наш фонд просит всех, кому дорога память о наших ветеранах с истинно сибирским характером, добавлять в галерею новые имена и судьбы.
                .row
                    .col--11
                        .input
                            label.input__label(for='name') Ваше имя:
                            input.input__text(type='text')

                    .col--1 &nbsp;
                    .col--12
                        .input
                            label.input__label(for='name') Почта для обратной связи
                            input.input__text(type='email')
                                
                .row
                    .col--11
                        .input
                            label.input__label(for='name') Про кого история?
                            input.input__text(type='text')

                    .col--1 &nbsp;
                    .col--11
                        .input
                            label.input__label(for='name') Приложите фотографию:
                            .input__file Выбрать файл
                                input.input__file-input(type='file')
                                
                .row
                    .col--24
                        .input
                            label.input__label(for='name') Расскажите историю:
                            textarea.input__textarea(rows=7)

                        button.input__button Отправить

siberia/static/story.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="./css/screen.css" type="text/css" rel="stylesheet">
    <title>Сибирский характер</title>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="header__logo"> <a href="#" class="header__logo-link"><span class="header__logo-link-siberia">«СИБИРСКИЙ</span> ХАРАКТЕР» </a></div>
        <div class="header__search">
          <input type="search" placeholder="Поиск по сайту" class="header__search-input">
          <div class="header__search-icon"></div>
        </div>
        <div class="header__menu">
          <div class="header__menu-item"><a href="#" class="header__menu-item-link">Новости</a></div>
          <div class="header__menu-item"><a href="#" class="header__menu-item-link">Газета</a></div>
          <div class="header__menu-item header__menu-item--active"><a href="#" class="header__menu-item-link">Благотворительный фонд</a>
            <div class="header__menu-subitems"><a href="#" class="header__menu-subitems-item">История фонда</a><a href="#" class="header__menu-subitems-item">Проекты</a><a href="#" class="header__menu-subitems-item">Текущая деятельность</a><a href="#" class="header__menu-subitems-item">Архив проектов</a><a href="#" class="header__menu-subitems-item">Основатель фонда</a>
            </div>
          </div>
          <div class="header__menu-item"><a href="#" class="header__menu-item-link">Судьбы</a></div>
          <div class="header__menu-item"><a href="#" class="header__menu-item-link">Друзья</a></div>
          <div class="header__menu-item"><a href="#" class="header__menu-item-link">Контакты</a></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="content">
      <div class="destiny mt--60">
        <div class="container">
          <div class="title__h1 title--margin-20 align--center">Судьбы</div>
          <div class="row mb--24">
            <div class="col--24"><img src="./img/content/destiny-item--1.png" class="destiny__img"><a href="#" class="destiny__prev">← Виктор Николаевич</a><a href="#" class="destiny__next">Гросс Андрей Иванович →</a>
              <div class="destiny__actual title__h3">ФУКАЛОВ ГЕННАДИЙ АЛЕКСАНДРОВИЧ</div>
            </div>
          </div>
          <div class="row">
            <div class="col--20 shift--2">
              <div class="article">
                <p>Ну, что тебе рассказать... Отец мой был 1887 года рождения, и когда вернулся с Гражданской войны, женился на какой-то женщине. Но после родов она умерла, и отец остался вдовцом  с маленьким ребёнком на руках. Тогда отец женился на моей маме. Она была сирота, воспитывалась тётками, и когда ей исполнилось 20 лет, её выдали замуж. Первым родился  я и за мной ещё пятеро.</p>
                <p>Семья у нас крестьянская, и когда в 1929-м году началась коллективизация, отца решили назначить бригадиром в колхозе. Как-то он рассказывал: «Прихожу на работу, а один не пришёл, мол, не могу. Другой тоже не может, третий якобы заболел. Хорошая погода стоит, работать надо, а людей нет… Да ещё всех лошадей забрали на конный двор, коров на ферму. Я посмотрел на всё это и подумал - нет, я здесь со своими пацанами погибну…» Тогда отец устроился на железную дорогу, и 27 лет там отработал. Прожил 71 год и умер. Как сказала мама: «Напрочь износился…» А мама прожила 90 лет, а я и того больше. Никогда бы не подумал, что столько проживу…</p>
              </div>
            </div>
          </div>
        </div>
        <div class="form">
          <div class="container">
            <div class="title__h3 align--center">РАССКАЗАТЬ СВОЮ ИСТОРИЮ</div>
            <div class="article align--center italic">
              <p>Люди, которые возводили заводы и города в глухой тайге, приезжали по комсомольским путевкам на строительство БАМа, все те, кто прошел палатки и бараки, оставив нам благоустроенные города и поселки – они не должны быть забыты. Наш фонд просит всех, кому дорога память о наших ветеранах с истинно сибирским характером, добавлять в галерею новые имена и судьбы.</p>
            </div>
            <div class="row">
              <div class="col--11">
                <div class="input">
                  <label for="name" class="input__label">Ваше имя:</label>
                  <input type="text" class="input__text">
                </div>
              </div>
              <div class="col--1">&nbsp;</div>
              <div class="col--12">
                <div class="input">
                  <label for="name" class="input__label">Почта для обратной связи</label>
                  <input type="email" class="input__text">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col--11">
                <div class="input">
                  <label for="name" class="input__label">Про кого история?</label>
                  <input type="text" class="input__text">
                </div>
              </div>
              <div class="col--1">&nbsp;</div>
              <div class="col--11">
                <div class="input">
                  <label for="name" class="input__label">Приложите фотографию:</label>
                  <div class="input__file">Выбрать файл
                    <input type="file" class="input__file-input">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col--24">
                <div class="input">
                  <label for="name" class="input__label">Расскажите историю:</label>
                  <textarea rows="7" class="input__textarea"></textarea>
                </div>
                <button class="input__button">Отправить</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col--12">
            <div class="footer__fund"> 
              <div class="footer__fund-title">БЛАГОТВОРИТЕЛЬНЫЙ ФОНД<br/>«НАШ СИБИРСКИЙ ХАРАКТЕР»</div>
              <div class="footer__fund-items"> <a href="#" class="footer__fund-items-item">Текущая деятельность</a><a href="#" class="footer__fund-items-item">Проекты</a><a href="#" class="footer__fund-items-item">История фонда</a></div>
            </div>
          </div>
          <div class="col--12"><a href="#" class="footer__founder">
              <div class="footer__founder-photo"><img src="./img/candidate-photo--2.png"></div>
              <div class="footer__founder-name">Андрей Владимирович Чернышёв</div>
              <div class="footer__founder-subtitle">Основатель фонда и газеты</div></a></div>
        </div>
      </div>
      <div class="footer__splitter"></div>
      <div class="container">
        <div class="row">
          <div class="col--11">
            <div class="footer__copyright">© 2016, Общественно-политическая газета<br>«Сибирский характер»</div>
            <div class="footer__organization">Учредитель: «Благотворительныий фонд «Сибирский характер».</div>
            <div class="footer__organization">Газета зарегистрирована Управлением федеральноий службы по надзору в сфере связи, информационных технологий и массовых коммуникаций по Иркут- ской области. Св-во о регистрации ПИ No ФС13-0243 от 15. 03. 2005 г. Главныий редактор С.М. Маслаков.</div>
          </div>
          <div class="col--1">&nbsp;</div>
          <div class="col--6">
            <div class="footer__menu">
              <div class="footer__menu-item"><a href="#" class="footer__menu-item-link">Новости</a></div>
              <div class="footer__menu-item"><a href="#" class="footer__menu-item-link">Газета</a></div>
              <div class="footer__menu-item"><a href="#" class="footer__menu-item-link">Благотворительный фонд</a></div>
              <div class="footer__menu-item"><a href="#" class="footer__menu-item-link">Судьбы</a></div>
              <div class="footer__menu-item"><a href="#" class="footer__menu-item-link">Партнеры</a></div>
              <div class="footer__menu-item"><a href="#" class="footer__menu-item-link">Контакты</a></div>
            </div>
          </div>
          <div class="col--6">
            <div class="footer__title">Контакты</div>
            <p class="fz--12 mb--8"><a href="zs11okrug@mail.ru">zs11okrug@mail.ru</a></p>
            <p class="fz--12">664025, г. Иркутск, ул. Степана Разина, 42, оф.1.</p><br>
            <div class="footer__title">Мы в соцсетях</div>
            <div class="social">
              <div class="social__items"><a href="#" class="social__item social__item--ok"></a><a href="#" class="social__item social__item--vk"></a><a href="#" class="social__item social__item--fb"></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/index.js"></script>
  </body>
</html>
